<form method="POST" action="{% url 'save' %}">{% csrf_token %}
    <table>
        <tr>
            <th>Eid</th>
            <th><input type="number" name="eid"></th>
        </tr>
        <tr>
            <th>Ename</th>
            <th><input type="text" name="ename"></th>
        </tr>
        <tr>
            <th>Sal</th>
            <th><input type="number" name="sal"></th>
        </tr>
        <tr>
            <th colspan="2"><input type="submit" name="Register"></th>
        </tr>
    </table>

</form>